In [6]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
df=df.dropna()

In [22]:
inputs = df.drop(['PassengerId', 'Survived', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns')

In [23]:
target = df['Survived']

In [24]:
#le_Pclass = LabelEncoder()
le_Sex = LabelEncoder()
# le_Age = LabelEncoder()
# le_Fare = LabelEncoder()

In [25]:
#inputs['Pclass_n'] = le_Pclass.fit_transform(inputs['Pclass'])
inputs['le_Sex_n'] = le_Sex.fit_transform(inputs['Sex'])
# inputs['le_Age_n'] = le_Age.fit_transform(inputs['Age'])
# inputs['le_Fare_n'] = le_Fare.fit_transform(inputs['Fare'])

In [26]:
inputs

     Pclass     Sex   Age     Fare  le_Sex_n
1         1  female  38.0  71.2833         0
3         1  female  35.0  53.1000         0
6         1    male  54.0  51.8625         1
10        3  female   4.0  16.7000         0
11        1  female  58.0  26.5500         0
..      ...     ...   ...      ...       ...
871       1  female  47.0  52.5542         0
872       1    male  33.0   5.0000         1
879       1  female  56.0  83.1583         0
887       1  female  19.0  30.0000         0
889       1    male  26.0  30.0000         1

[183 rows x 5 columns]

In [31]:
inputs_n = inputs.drop('Sex',axis='columns')
inputs_n

     Pclass   Age     Fare  le_Sex_n
1         1  38.0  71.2833         0
3         1  35.0  53.1000         0
6         1  54.0  51.8625         1
10        3   4.0  16.7000         0
11        1  58.0  26.5500         0
..      ...   ...      ...       ...
871       1  47.0  52.5542         0
872       1  33.0   5.0000         1
879       1  56.0  83.1583         0
887       1  19.0  30.0000         0
889       1  26.0  30.0000         1

[183 rows x 4 columns]

In [33]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(inputs_n,target,test_size=0.2)

In [28]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [40]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [41]:
model.score(X_test,y_test)

0.7567567567567568

In [32]:
model.predict([[1,38,71.283,0]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])